.containers {
  margin-left: 0 auto;
  background-color: #f3f4f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Containerform {
  max-width: 350px;
  height: 350px;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.Containerform p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #647dee;
}

.psol {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #647dee;
  margin-bottom: 30px;
}

.login-form {
  max-width: 350px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
