.containers {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  
  .Containerform {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
  
  .login-form {
      max-width: 300px;
    }
  .login-form-forgot {
      float: right;
    }
    .ant-col-rtl .login-form-forgot {
      float: left;
    }
    .login-form-button {
      width: 100%;
    }