.logo {
  height: 32px;
  background: transparent;
  margin: 16px;
  text-align: center;
  align-items: center;
}

.logo-vetec {
  height: 32px;
  border-radius: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.des {
  width: 100%;
  max-width: 60%;
}

.sub-containers {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 60px #f2f4f5;
}

.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.content-modal {
  align-items: center;
  text-align: center;
  align-self: center;
  margin-top: 1rem;
}

.valorecion {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.tot {
  height: 100%;
  width: auto;
}

.tot h1 {
  font-size: 50px;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contas {
  padding-top: 60px;
  margin-bottom: 20px;
  width: 350px;
}

.Containers-components {
  width: 100%;
  height: 90px;
  padding: 1rem;
  border: 1px solid grey;
  margin-bottom: 3rem;
}

.ddd {
  width: 100%;
  height: 140px;
  padding: 1rem;
  border: 1px solid grey;
  margin-bottom: 3rem;
}

@media (min-width: 320px) and (max-width: 991.98px) {
  .des {
    width: 100%;
    max-width: 100%;
  }
}
