.porfiles {
    width: 100%;
    height: auto;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.porfiles-des {
    margin-top: 1rem;
}

.porfiles-des h1 {
    font-size: 38px;
    font-family: Helvetica;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: -5px;
}

.tag {
    margin-left: 20px;
    margin-bottom: 15px;
}

.porfiles-des p {
    font-size: 14px;
    font-family: Helvetica;
    margin-left: 20px;
    color: #87d068;
}

.description {
    font-size: 16px;
    font-weight: 200;
    max-width: 600px;
    font-family: Helvetica;
    margin-left: 20px;
    color: gray;

}

.links {
    font-size: 16px;
    font-family: Helvetica;
    margin-left: 20px;
    color: rgb(19, 19, 19); 
}

.links:hover{
    color: rgb(19, 19, 19); 
}


.porfiles-cont{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.profile-imag {
    width: 197px;
    height: 197px;
    border-radius: 30rem;
}

.porfiles-items {
    padding: 30px;
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    margin: 10px;
    
}

.cards {
    width: 100%;
    max-width: 100%;
    border: 0.5px solid gainsboro;
}

.site-card-wrapper {
    background: #f1f1f1;
    padding: 20px;
  }

  .events {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  .notes-month {
    text-align: center;
    font-size: 28px;
  }
  .notes-month section {
    font-size: 28px;
  }


@media (min-width: 320px) and (max-width: 1300px){
  
}
