
@media (max-width: 575.98px)and (orientation:portrait) {
    .Tabs {
        max-width: 320px;
    }
    
  }
  /*landscape*/
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .Tabs {
        max-width: 320px;
    }
  }
